.logo{
    position: absolute;
    top:2%;
    right: -170%;
    left: -10%;
    transform: translate(10%,0);
    opacity: 1;
}

.cabeçalho{
    text-align: center;
    margin-left: -280px;
    font-size: 1em;
    padding: 1% 0;
}

body{
    background-image: url("imagens/background/background01_00000.png");
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    width: 100%;
    overflow: hidden;
}

.left-div{
    width: 45%;
    float: left;
    vertical-align: top;
}

.right-div{
    width: 45%;
    float: left;
    vertical-align: top;
}